{% extends 'base.html' %}

{% block titulo %}Fluxo de Caixa{% endblock titulo %}

{% block conteudo %}

<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      format: 'dd/MM/yyyy hh:mm:ss',
      language: 'pt-BR'
    });
    $('#datetimepicker2').datetimepicker({
      format: 'dd/MM/yyyy hh:mm:ss',
      language: 'pt-BR'
    });
  });
  function Validar(form){

    if(form.dataBuscaInicio.value=="" || form.dataBuscaFinal.value==""){
      alert("Preencha as datas corretamente.");
      form.dataBuscaFinal.focus();
      return false;
    }
    else{
      return true;
    }
  }
</script>
<style type="text/css" media="print">
  nav, footer, div[align='center'], .btn{display: none;}
</style>

<div align="center"> 
  <form onsubmit="return Validar(this);" role="form" method="POST" action="/fluxocaixa/pesquisar/" >{% csrf_token %}
    <div class="form-group">
      <div class="row">
        <div class="col-md-5">          
          <div id="datetimepicker1" class="input-append date " style="float: left; ">
            <input type="text" name="dataBuscaInicio" style="height: 35px; width: 145px;" placeholder="De:">
            <span class="add-on" style="height: 35px;">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>         
          <div id="datetimepicker2" class="input-append date " >
            <input type="text" name="dataBuscaFinal" style="height: 35px; width: 145px;" placeholder="Até:">
            <span class="add-on" style="height: 35px;">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <select class="form-control" name="pessoaBusca" id="pessoaBusca" >
            <option value="0" selected>TODAS PESSOAS</option>
            {% for pessoa in pessoas %}
                <option value="{{ pessoa.id }}">{{ pessoa.nome }} - {{ pessoa.email }}</option>
            {% endfor %} 
          </select>
        </div>
        <div class="col-md-2" align="center">
          <button type="submit" class="btn btn-primary">Pesquisar <span class="glyphicon glyphicon-search"></span></button>
        </div>
      </div>
    </div>  
  </form>
</div>
<hr>
<br />
<div id="tableFluxo" class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição da Conta</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>R$</th>
          </tr>
        </thead>
        <tbody>
        {% for conta in contas %}
          <tr>  
            <td>{{ conta.pessoa.nome }}</td>          
            <td>{{ conta.descricao }}</td>
            <td>{{ conta.data|date:"d/m/Y" }}</td>
            <td>{{ conta.tipo }}</td>
            <td>{{ conta.valor }}</td>
          </tr>
        {% endfor %}
          <tr>
            <td colspan="2"></td>
            <td><span style="font-weight:bold;">Total a Receber:</span> {{totalreceber}}</td>
            <td><span style="font-weight:bold;">Total a Pagar:</span> {{totalpagar}}</td>
          </tr>  
        </tbody>
      </table>
</div>
<button class="btn btn-primary" onclick="window.print();" style="float:right;"> Imprimir <span class="glyphicon glyphicon-print"></span></button>
{{ sql }}
{% endblock conteudo %}
